<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.diamondnetwork.mapper.AccountMapper">

    <resultMap type="io.diamondnetwork.model.Account" id="account">
    </resultMap>

    <resultMap type="io.diamondnetwork.model.AccountAsset" id="accountAsset">
    </resultMap>





    <select id="getAccountList" resultMap="account">
        select * from t_account

        order by creation_height
    </select>

    <select id="getAccount" resultMap="account">
        select * from t_account
        where address = #{address}
    </select>

    <select id="countAccounts" resultType="java.lang.Integer">
        select count(*) from t_account where 1 = 1
        <if test="address!=null">
            and address=#{address}
        </if>
    </select>



    <select id="getAccountAssets" resultMap="accountAsset">
        select aa.account_id, a.id as asset_id,
        a.name as asset_name,
        a.quantity as asset_total_quantity,
        aa.quantity, aa.unconfirmed_quantity,
        aa.height
        from account_asset aa
        left join asset a on a.id = aa.asset_id
        where aa.latest=1 and aa.account_id = #{accountId}
    </select>

    <select id="getAccountAssetsByAsset" resultMap="accountAsset">
        select aa.account_id, a.id as asset_id,
        a.name as asset_name,
        a.quantity as asset_total_quantity,
        aa.quantity, aa.unconfirmed_quantity,
        aa.height
        from account_asset aa
        left join asset a on a.id = aa.asset_id
        where aa.latest=1 and aa.asset_id = #{assetId}
    </select>






</mapper>