<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.diamondnetwork.mapper.AssetMapper">

    <resultMap type="io.diamondnetwork.model.Asset" id="asset">
    </resultMap>

    <resultMap type="io.diamondnetwork.model.Order" id="order">
    </resultMap>

    <resultMap type="io.diamondnetwork.model.Transfer" id="at">
    </resultMap>

    <resultMap type="io.diamondnetwork.model.AccountAsset" id="aa">
    </resultMap>

    <select id="getAssetList" resultMap="asset">
        select * from t_asset order by creation_height
    </select>
    <select id="getAsset" resultMap="asset">
        select * from t_asset where name = #{name}
    </select>


    <select id="getAskOrder" resultMap="order">
        select * from ask_order where id = #{orderId}
    </select>


    <select id="getBidOrder" resultMap="order">
        select * from bid_order where id = #{orderId}
    </select>


    <select id="getAssetAccountNum" resultMap="asset">
        select a.id,count(aa.account_id) as holderNum from asset a
        left join account_asset aa on aa.asset_id=a.id where aa.latest=1 and a.id in
        <foreach item="asset"  collection="assetIdList" open="(" separator="," close=")">
            #{asset}
        </foreach>
        group by a.id
    </select>

    <select id="getAssetTransferNum" resultMap="asset">
        select asset_id as id, count(*) as transferNum from asset_transfer where asset_id in
        <foreach item="asset"  collection="assetIdList" open="(" separator="," close=")">
            #{asset}
        </foreach>
        group by asset_id

    </select>
    <select id="getAssetTransfer" resultMap="at">
        select * from t_transfer
        where token = #{assetName}
        order by height DESC
    </select>

    <select id="getAccountAssets" resultMap="aa">
        SELECT account as address ,sum(change_amount) as quantity FROM t_bill
        where token = #{assetName}
        group by account
        order by quantity desc

    </select>

    <select id="countAssets" resultType="java.lang.Integer">
        select count(*) from t_asset
        where name = #{symbol}
    </select>


    <select id="updateAssetOwner" >
        update t_asset set owner = #{newOwner} where name = #{assetName}
    </select>

    <select id="mintAsset" >
        update t_asset set total_supply = total_supply + #{amount} where name = #{assetName}
    </select>




</mapper>