<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.diamondnetwork.mapper.BlockMapper">

    <resultMap type="io.diamondnetwork.model.Block" id="block">

    </resultMap>


    <select id="getBlockList" resultMap="block">
        select b.*,v.address as generator, v.operator_address from t_block b left join t_validator v
        ON b.proposer_address = v.proposer_address

        where 1=1
        <if test="startHeight != null">
            and b.height <![CDATA[ <= ]]> #{startHeight}
            and b.height <![CDATA[ >= ]]>  #{endHeight}
        </if>
        ORDER BY b.height DESC
    </select>
    <select id="getBlock" resultMap="block">
        select b.*,v.address as generator, v.operator_address from t_block b left join t_validator v
        ON b.proposer_address = v.proposer_address
        where b.height = #{height}
    </select>

    <select id="countBlocks" resultType="java.lang.Integer">
        select count(*) from t_block
    </select>

    <update id="addFeeToHeight">
        update t_block set fee = fee + #{fee} where height = #{height}
    </update>
</mapper>