<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.diamondnetwork.mapper.TransactionMapper">

    <resultMap type="io.diamondnetwork.model.Transaction" id="tx">
    </resultMap>

    <resultMap type="io.diamondnetwork.model.Transfer" id="tr">
    </resultMap>

    <resultMap type="io.diamondnetwork.model.Order" id="o">
    </resultMap>

    <resultMap type="io.diamondnetwork.model.Message" id="m">
    </resultMap>


    <select id="getTxList" resultMap="tx">
        select * from t_transaction
        where 1 = 1
        <if test="height != null">
            and height = #{height}
        </if>

        ORDER BY created_at DESC
    </select>

    <select id="getTx" resultMap="tx">
        select * from t_transaction
        where hash = #{txHash}
    </select>

    <select id="getLatestTxList" resultMap="tx">
        select * from t_transaction

        ORDER BY created_at DESC
    </select>

    <select id="countTxByHash" resultType="int">
        select count(*) from t_transaction where hash = #{hash}
    </select>




    <select id="getTxListByAccount" resultMap="tr">
        select * from t_transfer where sender = #{address} or recipient = #{address}
    </select>

    <select id="getTxCountByAccount" resultType="int">
        select count(*) from transaction

        where sender_id = #{accountId} or recipient_id = #{accountId}
        or id in (select transaction_id from indirect_incoming where account_id = #{accountId})
        ORDER BY timestamp DESC
    </select>

    <select id="getOrdersByTxHash" resultMap="o">
        select * from t_order where tx_hash = #{txHash}
    </select>

    <select id="getMessagesByTxHash" resultMap="m">
        select * from t_message where tx_hash = #{txHash}
    </select>

</mapper>