<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.diamondnetwork.mapper.ValidatorMapper">



    <!--查询广告列表-->
    <select id="getValidatorByProposerAddress" resultType="io.diamondnetwork.model.Validator">
        select * from t_validator
        where proposer_address = #{proposerAddress}
    </select>

    <select id="getValidatorByConsensusPubkey" resultType="io.diamondnetwork.model.Validator">
        select * from t_validator
        where consensus_pubkey = #{consensusPubkey}
    </select>


</mapper>